{% extends "base.html" %}

{% block title %}Certificados Digitais{% endblock %}

{% block content %}

<h1 class="titulo-index">Certificados</h1>

<hr>

<div class="tabela-wrapper"><table border="1" cellpadding="8">
    <tr>
        <th>Empresa</th>
        <th>CNPJ</th>
        <th>Vencimento</th>
        <th>Dias Restantes</th>
        <th>Status</th>
    </tr>
    {% for cert in certificados %}
    <tr>
        <td>{{ cert.empresa }}</td>
        <td>{{ cert.cnpj }}</td>
        <td>{{ cert.vencimento }}</td>
        <td>{{ cert.dias }}</td>
        <td>{{ cert.status }}</td>
    </tr>
    {% endfor %}
</table></div>

{% endblock %}