{% extends "base.html" %}

{% block title %}Horas extras{% endblock %}

{% block content %}

<h1 class="titulo-index">Horas extras</h1>

<br>

<p class="descricao">Registre as horas extras trabalhadas pelos funcionários do escritório.</p>

<hr>

<form class="horizontal" method="GET">
    <input type="month" name="mes" value="{{ mes }}">

    <button type="submit">Filtrar</button>
</form>

<div class="tabela-wrapper"><table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Funcionário</th>
            <th>Total de Horas</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

    {% for f in funcionarios %}

        <tr>
            <td>{{ f.nome }}</td>

            <td>
                {{ "%.2f"|format(f.total_mes) }} h
            </td>

            <td>
                <a href="/rh/horas-extras/funcionario/{{ f.id }}?mes={{ mes }}">
                    Visualizar
                </a>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table></div>

<br>

<h3>
Total geral do mês:
{{ "%.2f"|format(total_geral) }} horas
</h3>

{% endblock %}