<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendências</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Relatório de Pendências</h1>

<div class="links-rapidos">
<a href="/empresas">Voltar</a>
</div>

<hr>

{% if lista_pendencias %}

<table>
    <tr>
        <th>Empresa</th>
        <th>CNPJ</th>
        <th>Pendências</th>
        <th>Ações</th>
    </tr>

    {% for item in lista_pendencias %}
    <tr>
        <td>{{ item.razao_social }}</td>
        <td>{{ item.cnpj }}</td>
        <td>
            <ul>
                {% for p in item.pendencias %}
                <li>{{ p }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <a href="/empresa/{{ item.id }}">Abrir</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}

<p>Nenhuma pendência encontrada.</p>

{% endif %}
</body>
</html>
