{% extends "base.html" %}

{% block title %}Procedimentos{% endblock %}

{% block content %}

<h1 class="titulo-index">Procedimentos internos</h1>

<hr>

<form class="horizontal" method="GET">
    <input type="text" name="busca" placeholder="Buscar procedimentos..." value="{{ busca }}">
    <button type="submit">Buscar</button>
</form>

<div class="lista">

	{% for categoria, arquivos in arquivos_por_categoria.items() %}
		<h3>{{ categoria }}</h3>
		{% for arquivo in arquivos %}
			<p>
				📄 {{ arquivo }}
				<a href="/documentos/procedimentos/abrir/{{ arquivo }}" target="_blank">Abrir</a>
			</p>
		{% endfor %}
		<hr>
	{% endfor %}

</div>

{% endblock %}